
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: white;
  background: black;
}
.header{
  font-size: 2rem;
  padding: 20px 75px;
  position: sticky;
  top: 0;
}
.header > nav{
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
.nav-btn button{
  padding: 5px 30px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-family: calibri;
  background: #61443ac2;
  color: white;
  border: none;
  cursor: pointer;
}

/* new styles here */ 

.menu-info{
  padding: 20px 110px 20px 110px;
}
.menu-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px , 1fr));
  justify-items: center;
  gap: 50px;
  padding: 50px;
}
.menu-items {
  display: grid;
  gap: 10px;
}
.menu-items > img{
  width: 500px;
  height: 500px;
  display: block;
}
.menu-items > figcaption, 
.menu-items figcaption a {
  text-decoration: none;
  font-size: 0.8rem;
  color: grey;
}
.menu-items p{
  max-width: 50ch;
}
