*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: white;
  background: black;
}
.header{
  font-size: 2rem;
  padding: 20px 75px;
  position: sticky;
  top: 0;
}
.header > nav{
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
.nav-btn button{
  padding: 5px 30px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-family: calibri;
  background: #61443ac2;
  color: white;
  border: none;
  cursor: pointer;
}

/* new contens */

.about-wrapper{
    padding: 20px 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}
.left-image > img{
    width: 550px;
    height: 80vh;
}
.right-section{
  display: grid;
  align-self: center;
  gap: 10px;
}